---
layout: layout
pageable: true
per_page: 8
---

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to '&laquo; Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
	<article class="summary">
			<h3 class="summary-title"><a href="<%= article.url %>"><%= article.data.title %></a></h3>
			<div class="summary-body emphasis">
				<p><%= article.data.summary %>&nbsp; <a class="summary-more" href="<%= article.url %>">Read more&#8230;</a></p>
			</div>
			</p>
	</article>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page &raquo;', next_page %></p>
  <% end %>
<% end %>
